*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
body{
    background: #e7def8;
}
/* ================= MAIN =================*/
.container{
    justify-content: space-between;
    margin: 0 10%;
    margin-top: 60px;
	padding: 0 2rem 2rem;
}
.gallery{
    columns: 4;
    column-gap: 16px;
}
.gallery .grid-image{
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
    width: 100%;
}
.gallery .grid-image img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.grid-image:hover{
    transition: 400ms;
    transform: scale(1.05);
    overflow: hidden;
}
h1{
    position: absolute;
    padding: 5px;
    bottom: 10px;
    left: 7px;
    font-size: 15px;
    background: #FECD41;
    color: #4B3983;
    border-radius: 30px;
    opacity: 0;
    z-index: 1;
    transition: ease-in-out;
}
.grid-image:hover h1{
    opacity: 1;
}
.model-layerA{
    background-color: #e7def89e;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    z-index: 250;
    visibility: hidden;
    opacity: 0;
}
.model-layerA.active{
    visibility: visible;
    opacity: 1;
}
.model-layerA .model-container{
    background-color: #e7def8;
    border: 5px solid #FECD41;
    width:800px;
    height: 500px;
    border-radius: 30px;
}
.model-layerA .model-container .back-icon{
    width: 70px;
    margin-top: -40px;
    cursor: pointer;
}
.model-layerA .model-container .image-bloc{
    float: left;
    height: 500px;
    width: 50%;
    border-radius: 30px 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.model-layerA .model-container .image-bloc img{
    width: 90%;
    height: 90%;
    object-fit: contain;
    border-radius: 12px;
}
.model-layerA .model-container .content-bloc{
    float: right;
    height: 500px;
    width: 50%;
    border-radius: 0 30px 30px 0;
    display: flex;
    align-items: center;
}
.model-layerA .model-container .content-bloc div{
    max-width: 350px;
    max-height: 460px;
    margin-top: -150px;
    margin-left: 30px;
}

.model-layerA .model-container .content-bloc div #DName{
    font-size: 30px;
    color: #4B3983;
}

.model-layerA .model-container .content-bloc div #UName, #DType{
    font-size: 18px;
    text-decoration: none;
    color: #4B3983;
    margin-left: 10px;
}

.model-layerA .model-container .content-bloc div .paracontainer{
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 20px;
    margin-bottom: -190px;
    height: 250px;
    max-width: 300px;
}

.model-layerA .model-container .content-bloc div #DDescription{
    margin-top: 20px;
    font-size: 15px;
    color: #4B3983;
}

@media screen and (max-width: 1200px) {
    .gallery{
        columns: 3;
    }
}

@media screen and (max-width: 992px) {
    .gallery{
        columns: 2;
    }
}